<!--
    Ronald Rey Lovera
    reyronald@gmail.com
    October, 2015
-->
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Obi-wan 03</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

        <style type="text/css">
            body {
                background: #f5f5f5;
            }
            table {
                background: white;
            }
            /*
             * Placeholder dashboard ideas
             */

            .placeholders {
              margin-bottom: 30px;
              text-align: center;
            }
            .placeholders h4 {
              margin-bottom: 0;
            }
            .placeholder {
              margin-bottom: 20px;
            }
            .placeholder img {
              display: inline-block;
              border-radius: 50%;
            }
        </style>
    
        <!-- <base href="/"> -->

    </head>
    <body ng-app="app">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <h2 class="page-header text-center">Novosit's Obi-Wan Challenge No. 03 - Ronald Rey</h2>

        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 main">

            <nav class="navbar navbar-static-top">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav nav-tabs nav-justified">
                        <li><a href="index.html">Employees</a></li>
                        <li class="active"><a href="reports.html">Reports</a></li>
                    </ul>
                </div>
            </nav>

            <div ui-view id="view-content" ng-controller="ReportController as report">

                <table class="table table-stripped table-bordered table-hover .table-condensed">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>SubTotal USD</th>
                            <th>SubTotal EUR</th>
                            <th>SubTotal DOP</th>
                            <th>Total DOP</th>
                            <th>View</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in report.items">
                            <td>{{ item.id }}</td>
                            <td>{{ item.date | date:'yyyy-MM-dd @ h:mm:ss a'}}</td>
                            <td>{{ item.subtotalUSD | currency:'USD$'  }}</td>
                            <td>{{ item.subtotalEUR | currency:'EUR$' }}</td>
                            <td>{{ item.subtotalDOP | currency:'DOP$' }}</td>
                            <td>{{ item.total | currency:'DOP$' }}</td>

                            <td class="text-center">
                                <button  data-toggle="modal" data-target="#modalReport" ng-click="report.view(item)">
                                    <icon class="glyphicon glyphicon-zoom-in"></icon>
                                </button>
                            </td>

                            <td class="text-center">
                                <button ng-click="report.remove(item)">
                                    <icon class="glyphicon glyphicon-remove"></icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- MODAL for `Report` -->
                <div class="modal fade" id="modalReport" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Weekly Payment X-Company {{ report.selected.id }}</h4>
                            </div>
                            <div class="modal-body">

                                <p>
                                    {{ report.selected.date | date:'yyyy-MM-dd @ h:mm:ss a'}}<br>
                                    Total: {{ report.selected.total | currency:'DOP$' }}
                                </p>

                                <p>
                                    Rates: Base DOP
                                    <ul>
                                        <li>To USD {{ report.selected.exchangeRates.USD }}</li>
                                        <li>To EUR {{ report.selected.exchangeRates.EUR }}</li>
                                    </ul>
                                </p>

                                <table class="table table-stripped table-bordered table-hover .table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Entry</th>
                                            <th>EmpID</th>
                                            <th>Full Name</th>
                                            <th>Currency</th>
                                            <th>Hour Price</th>
                                            <th>Worked Hours</th>
                                            <th>Amount</th>
                                            <th>Base-Amount (DOP)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in report.selected.employees">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.fullName }}</td>
                                            <td>{{ item.currency.name }}</td>
                                            <td>{{ item.hourPrice | currency:item.currency.id+'$' }}</td>
                                            <td>{{ item.workedHours }}</td>
                                            <td>{{ item.amount | currency:item.currency.id+'$' }}</td>
                                            <td>{{ item.baseAmount | currency:'DOP$'}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <p>
                                    {{ report.selected.date | date:'yyyy-MM-dd @ h:mm:ss a'}}<br>
                                    Total: {{ report.selected.total | currency:'DOP$' }}
                                    <ul>
                                        <li>Total USD: {{ report.selected.subtotalUSD | currency  }}</li>
                                        <li>Total EUR: {{ report.selected.subtotalEUR | currency }}</li>
                                        <li>Total DOP: {{ report.selected.subtotalDOP | currency }}</li>
                                    </ul>
                                </p>

                            </div>
                            <div class="modal-footer">
                                <button id="btnCloseReportModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->                  

            </div>

        </div>
        <!-- Script Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/angular.js"></script>
        <script src="js/vendor/angular-resource.js"></script>
        <script src="js/vendor/angular-ui-router.min.js"></script>

        <!-- App's Scripts -->
        <script src="js/app/app.js"></script>
        <script src="js/app/controllers/ReportController.js"></script>
        <script src="js/app/services/ResourceService.js"></script>
        <script src="js/app/services/StorageService.js"></script>
        <script src="js/app/services/ApiService.js"></script>
        <script src="js/app/services/YahooService.js"></script>


    </body>
</html>
